config_opts['root'] = 'rhel-7b1-x86_64'
config_opts['basedir'] = 'MOCKROOT'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install bash bzip2 coreutils cpio diffutils system-release findutils gawk gcc gcc-c++ grep gzip info make patch redhat-rpm-config rpm-build sed shadow-utils tar unzip util-linux which xz'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst

config_opts['%centos_ver'] = "7"
config_opts['macros']['%centos_ver'] = "7"
config_opts['macros']['%rhel'] = "7"
config_opts['macros']['%el7'] = "1"
config_opts['macros']['%redhat'] = "7"
config_opts['macros']['%vendor'] = "CentOS"
config_opts['macros']['%packager'] = "CentOS BuildSystem <http://bugs.centos.org>"
config_opts['macros']['%_vendor'] = "redhat"
config_opts['macros']['%_vendor_host'] = "redhat"
config_opts['macros']['%_host'] = "x86_64-redhat-linux-gnu"


config_opts['yum.conf'] = """
[main]
cachedir=/var/cache/yum
debuglevel=1
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

exclude=*.i?86

# repos
[base]
name=BaseOS
enabled=1
baseurl=http://repohost/tmp/mirror/r7b1/

[r7b1]
name=r7b1
enabled=1
baseurl=http://repohost/tmp/repo/r7b1/

[f19]
name=f19
enabled=1
baseurl=http://repohost/tmp/mirror/f19-x86_64/
includepkgs=polkit-gnome

"""
